body {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}
title {
  justify-content: center;
}
h1 {
  margin-bottom: 20px; /* Добавляем отступ снизу для красоты */
}
.todo-list {
  width: auto;
  padding: 20px;
  box-shadow: 0 10px 40px rgb(214, 194, 194);
  border: radius 5px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body.light-mode {
  background: #fff;
  color: #333;
}

body.dark-mode {
  background: #333;
  color: #fff;
}

section {
  flex: 1;
  text-align: center;
}

.task {
  width: 400px;
}

.strikeout {
  text-decoration: line-through;
}

.edit-btn {
  margin-left: 10px;
  cursor: pointer;
}

.creator {
  font-size: 12px;
  color: #aaa;
}

.error {
  color: red;
  margin-top: 5px;
}
#toggleThemeBtn {
  align-items: flex-end;
  justify-content: center;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #91db36,
    #66b53e,
    #8a882d,
    #89df66,
    #5faea1,
    #5165c6,
    hsl(47, 29%, 61%),
    #eaa4dd,
    #e29090
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3d3939;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
